.aboutMe{
	padding: 35px 0 0 0;
}

.profile_dp{
	height: 150px;
	width: 150px;
	border-radius: 100px;
	border: 2px solid black;
	z-index: 10;
}

.profile_dp img{
	overflow: hidden;
    position: absolute;
    left: 0px;
    top: -10px;
    transition: all 1s;
}
.profile_dp:hover img{
	transform: scale(1.1);
}
.hovereffect{
	position: relative;
	overflow: hidden;
}

.hovereffect .overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	opacity: 0;
	top: 110px;
	left: 0;
}

.overlay .nameTag{
	padding: 20px 52px;
    background-color: #f7e312;
    opacity: 0;
    font-size: 25px;
    color: #1648dc;
}

.hovereffect:hover .overlay{
	opacity: 0.75;
}

.hovereffect:hover .overlay .nameTag{
	opacity: 0.75;
}

.goldenGlow:hover{
	box-shadow: 1px 0px 50px #f7e312;

}

/*Modal*/
.closeModal{
	    position: absolute;
    right: 20px;
    border-radius: 50px;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    top: 20px;
}

.closeModal i{
	position: relative;
    left: 2px;
    bottom: 2px;
}

/*Info*/
.info{
	float: none;
	margin: 0 auto;
}

/*Social Footer*/
.socialFooter{
	padding: 50px 0;
}
.socialIcon{
	padding: 10px;
    display: inline-table;
    min-width: 40px;
}
.socialFooter .socialIcon.fb{
	background-color: #3b5998;
}

.socialFooter .socialIcon.twt{
	background-color: #0084b4;
}

.socialFooter .socialIcon.gp{
	background-color: #d34836;
}

.socialFooter .socialIcon.ph{
	background-color: #e219a7;
}

.socialFooter .socialIcon.mail{
	background-color: #2cbd18;
}

.socialIcon a{
	text-decoration: none;
}
.socialIcon i{
	display: table-cell;
	color: white;
	transition: all 0.5s;
}

.socialIcon.fb:hover{
	box-shadow: 0px 0px 25px #3b5998;
}
.socialIcon.twt:hover{
	box-shadow: 0px 0px 25px #0084b4;
}
.socialIcon.ph:hover{
	box-shadow: 0px 0px 25px #e219a7;
}
.socialIcon.mail:hover{
	box-shadow: 0px 0px 25px #2cbd18;
}
.socialIcon.gp:hover{
	box-shadow: 0px 0px 25px #d34836;
}
.socialIcon:hover i{
	color: #ccc;	
	transform: rotate(15deg);
}